---
layout: default
---
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<nav class="site-nav">
  <ul class="nav-list">
    <li><a href="{{ site.baseurl }}/"                 class="{% if page.title == 'All Companies' %}active{% endif %}">All</a></li>
    <li><a href="{{ site.baseurl }}/ventures/"        class="{% if page.title == 'Ventures' %}active{% endif %}">Ventures</a></li>
    <li><a href="{{ site.baseurl }}/capital/"         class="{% if page.title == 'Capital' %}active{% endif %}">Capital</a></li>
    <li><a href="{{ site.baseurl }}/equity/"          class="{% if page.title == 'Equity' %}active{% endif %}">Equity</a></li>
    <li><a href="{{ site.baseurl }}/advisors/"        class="{% if page.title == 'Advisors' %}active{% endif %}">Advisors</a></li>
    <li><a href="{{ site.baseurl }}/partners/"        class="{% if page.title == 'Partners' %}active{% endif %}">Partners</a></li>
    <li><a href="{{ site.baseurl }}/sic/"             class="{% if page.title == 'SIC Codes' %}active{% endif %}">SIC Codes</a></li>
    <li><a href="{{ site.baseurl }}/fund-structures/" class="{% if page.title == 'Fund Structures' %}active{% endif %}">Fund Structures</a></li>
  </ul>
</nav>

<h1>{{ page.title }}</h1>

<table>
  <thead>
    <tr>
      {% for col in site.data.master_companies[0].keys %}
        <th>{{ col }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for r in site.data.master_companies %}
      {% assign show = false %}

      {% if page.title == 'All Companies' %}
        {% assign show = true %}

      {% elsif page.title == 'Ventures' and r.Source contains 'Ventures' %}
        {% assign show = true %}

      {% elsif page.title == 'Capital' and r.Source contains 'Capital' %}
        {% assign show = true %}

      {% elsif page.title == 'Equity' and r.Source contains 'Equity' %}
        {% assign show = true %}

      {% elsif page.title == 'Advisors' and r.Source contains 'Advisors' %}
        {% assign show = true %}

      {% elsif page.title == 'Partners' and r.Source contains 'Partners' %}
        {% assign show = true %}

      {% elsif page.title == 'SIC Codes' and r.Source contains 'SIC' %}
        {% assign show = true %}

      {% elsif page.title == 'Fund Structures' %}
        {% if r.Source contains 'fund' %}
          {% assign show = true %}
        {% elsif r.Source contains 'gp' %}
          {% assign show = true %}
        {% elsif r.Source contains 'lp' %}
          {% assign show = true %}
        {% elsif r.Source contains 'llp' %}
          {% assign show = true %}
        {% endif %}
      {% endif %}

      {% if show %}
        <tr>
          {% for v in r %}
            <td>{{ v }}</td>
          {% endfor %}
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
